body {
    margin:0;
    padding:0;
    background: c;
}

.name { 
    width: 100%;
    height: 300px;
    background:#F7A1C4;
    transform: skewY(-5deg);
}

.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}

.name .content .p-1 {
    color: #2F2F2F;
    font-family: "Baloo tama 2", sans-serif;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(5deg);
    margin-bottom: 0;
}

.name .content .p-2 {
    color: #2E0E02;
    font-family: "Baloo tama 2", sans-serif;
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;
}

.name .img {
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;

}

.name .img img {
    width: 180px;
    height:220px;
}

.info {
    width: 90%;
    height: auto;
    background: #F7A1C4;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .tituloseccion {
    color:#2F2F2F;
    font-family:"Baloo tama 2", sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #2F2F2F dashed;
}

.info .tituloinfo {
    color:#2F2F2F;
    font-family: "Baloo tama 2", sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .infoinfo {
    color:#2E0E02;
    font-family: "Baloo tama 2", sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}